<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Электронный холодильник</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/upload_qr">Загрузить продукты</a></li>
                <li><a href="/products">Список продуктов</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Добро пожаловать в наш электронный холодильник!</h1>
        <h2>Преимущества использования:</h2>
        <ul>
            <li>Экономия энергии благодаря интеллектуальному управлению температурой.</li>
            <li>Автоматическое уведомление о необходимости пополнения запасов.</li>
            <li>Удобное управление через мобильное приложение.</li>
            <li>Сохранение свежести продуктов на более длительный срок.</li>
            <li>Интеграция с другими умными устройствами в вашем доме.</li>
        </ul>
    </main>

    <footer>
        <p>&copy; 2023 Ваша компания. Все права защищены.</p>
    </footer>
</body>
</html>
